repos:
  - repo: local
    hooks:
      - id: run
        name: Run tests
        entry: >
          bash -c '
          if [[ $SKIP_PRECOMMIT = "true" ]]; then
            echo "Skipping pre-commit hook"
            exit 0
          fi

          if [[ $(uname -s) = "Linux" ]]; then
            amd=false;
            for d in /sys/bus/pci/devices/*; do
              if [[ "$(cat $d/vendor 2>/dev/null)" = "0x1002" ]]; then
                class=$(cat $d/class 2>/dev/null)
                case "$class" in
                  0x0300*|0x0302*)
                    echo "AMD GPU detected — running ROCm container"
                    amd=true;
                    break
                  ;;
                esac
              fi
            done

            if [[ $amd = "true" ]]; then
              docker build -f Dockerfile.rocm -t uv-dev . && docker run --rm --privileged uv-dev
            fi

          elif [[ $(uname -s) = "Darwin" ]]; then
            echo "Running on macOS — running uv locally"
            uv run metal
            exit 0
          else
            echo "Running on CPU — running uv locally"
            uv run cpu
            exit 0
          fi
          '
        language: system
        pass_filenames: false
        always_run: true
        verbose: true
